

<ul>
    <li class="heroes" *ngFor="let hero of heroes;let i=index">
        <a class="listStyle"  routerLink="/hero-details/{{hero.id}}" routerLinkActive="active"><button class="button"id="{{hero.id}}" type="button" >
            <span class="badge">{{hero.id}}.</span>
            <span class="name">{{hero.name}}</span>
            <span class="power">{{hero.power}}</span>
          </button></a>
    </li>
</ul>

<!-- (click)="onPress($event)" -->