

.heroes{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    width: 50%;
}
.listStyle{
    border-radius: 5em;
    border-color: aliceblue;
    margin-top: 2%;
    width: 35%;
    height: 25%;
    padding: 5%;
    font-size:2ch;
}
.button{
    border-radius: 5em;
    border-color: aliceblue;
    margin-top: 1%;
    height: 25%;
    padding: 2%;
    font-size:2ch;
}

.badge{
    font-size: 3ch;
    font-weight: bold;
    padding-right:1ch ;
}

.name{
    padding-right: 1ch;

}

.power{

}