<p>hero-details works!</p>
<div class="container" id="container" >
    <h1>{{id}}</h1>
    <h1 class="hero" >{{heroes[id-1].name | uppercase}} 's Details</h1>
    <h5 class="badge">{{heroes[id-1].description}}</h5>
    <h3>FIrst Appearance:{{heroes[id-1].date | date:'dd/MM/yyyy'}}</h3>  
    </div>
    

    <a class="editStyle"  routerLink="/hero-details/edit/{{id}}" routerLinkActive="active"><button class="button"id="{{id}}" type="button" >Edit</button></a>
<router-outlet></router-outlet>