<p>edit works!{{id}}</p>

<form #editForm="ngForm" (ngSubmit)="editHero(editForm.value)">
    <input type="text" name="name"   placeholder="{{heroes[id].name}}" ngModel>
    <br> <br>
    <input id="quaint" type="text" name="description" placeholder="{{heroes[id].description}}" style.width = scrollWidth ngModel>
    <br> <br>
    <input type="text" name="date" placeholder="{{heroes[id].date}}" ngModel>
    <br> <br>
    
    <a class="listStyle"  routerLink="/hero-details/{{id}}" routerLinkActive="active">
        <button>Submit</button></a>
</form>
